  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 about-margin-top-40 about-text-black-primary">
      <p class="text-center about-text-size-heading">Our Team</p>
      <div class="row about-margin-bottom-40">
        <% @teams.each do |team| %>
        <div class="col-xs-6 col-md-4 text-center about-margin-top-40">
          <%= image_tag team.avatar_url, class: "img-circle image-responsive about-team-image-size2"  %>
          <h4>
            <p><%= team.first_name %> <%= team.last_name %></p>
            <small><%= team.position %></small>
          </h4>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- <div class="col-xs-6 col-md-4 text-center about-margin-top-40">
    <%= image_tag "team_9.png", class: "img-circle image-responsive about-team-image-size" %>
    <h4>
      <p>And You!</p>
      <small><a href="https://enscholar.zendesk.com/hc/en-us/categories/200389337-volunteer-with-us">Check out our openings</a></small>
    </h4>
  </div> -->
