<%# Heading %>
<div id="about-top">
  <%= image_tag "top.png", class: "img-responsive about-image-full-width" %>
</div>

<div class="row about-bg-gray">
  <div class="about-margin-top-5">
    <%# Mission Vision Tabs %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav nav-pills about-pills-center about-pills-color about-nav-pointer" role="group" aria-label="...">
        <li class="active"><a href="#our_story" aria-controls="our_story" role="tab" data-toggle="tab">Our Story</a></li>
        <li><a href="#our_mission" aria-controls="our_mission" role="tab" data-toggle="tab">Our Mission</a></li>
        <li><a href="#media_page" aria-controls="media_page" role="tab" data-toggle="tab">Media Page</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row about-margin-top-40 about-margin-bottom-20">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="our_story">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 about-text-black-dark">
            <div class="col-xs-12 col-sm-12 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1"><p class="about-text-size-sub-heading about-text-black-primary">Our Story</p></div>
            <p>We set out to find the root of student engagement in the hopes of improving education for the next generation. We found that the most highly-engaged, successful students have a deeper understanding of their interests, strengths, and values, and choose to make career and life decisions in alignment with them.</p>
            <p>The tools we've created help youth to develop a deeper understanding of self, and then connect with real-world experience - the two things that have the biggest impact on career confidence. Today, our team spans continents, cultures, and generations. We are truly a unique, passionate, and values-driven group that cares deeply about empowering today‘s youth.</p>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 about-no-padding">
            <%= image_tag "story_image.png", class: "img-responsive about-no-margin about-image" %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="our_mission">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 about-text-black-dark">
            <div class="col-xs-12 col-sm-12 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1"><p class="about-text-size-sub-heading about-text-black-primary">Our Mission</p></div>
            <p><span class="about-text-black-primary"></span>To help youth make better career decisions, so that they can change the world through their work. We aim to make education and personal development engaging, fun, and accessible to as many people as possible – regardless of location or income.</p>
            <p>We're building a global community where youth can mentor, engage, and share experiences of their own career exploration with others on the same path. We‘ll connect youth from around the world who share similar interests, strengths, values, and career aspirations, in the hopes of sparking ideas, promoting cross-cultural teamwork, and opening doors for the next generation of leaders.</p>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 about-no-padding">
            <%= image_tag "mission_image.png", class: "img-responsive about-image" %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="media_page">
        <div class="row about-text-black-dark">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 about-margin-bottom-20">
            <div class="row">
              <div class="col-lg-12 about-no-padding about-margin-bottom-18">
                <%= link_to image_tag("logo_color.png"), "https://enscholar.com", :target => "_blank" %>
              </div>
              <div class="col-lg-6 about-no-padding about-margin-bottom-18">
                <%= link_to image_tag("social_twitter.png", class: "about-margin-right-3"), "https://twitter.com/enscholar", :target => "_blank" %>
                <%= link_to image_tag("social_facebook.png", class: "about-margin-right-3"), "https://facebook.com/enscholar", :target => "_blank" %>
                <%= link_to image_tag("social_linkedin.png"), "https://linkedin.com/company/enscholar", :target => "_blank" %>
              </div>
              <!-- <div class="col-lg-6 about-no-padding">Where you can find us online</div> -->
              <div class="col-lg-12 about-no-padding about-margin-bottom-18">
                <%= link_to image_tag("try_it.png"), "https://gotryit.org/", :target => "_blank" %>
              </div>
              <div class="col-lg-12 about-no-padding">
                <strong>Media Inquiries</strong><br>
                <a class="about-text-primary" href="mailto:pr@enscholar.com">pr@enscholar.com</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <p><span class="about-text-black-primary"><strong>Name:</strong></span> enScholar ('S' is capitalized; pronounced like 'engage')</p>
            <p><span class="about-text-black-primary"><strong>Registered non-profit name:</strong></span> The enScholar Educational Foundation</p>
            <p><span class="about-text-black-primary"><strong>Websites:</strong></span>&nbsp; &nbsp; &nbsp; &nbsp;<%= link_to "www.enscholar.com", "https://enscholar.com/", class:"about-text-primary" %>&nbsp; &nbsp; &nbsp;|&nbsp; &nbsp; &nbsp;<%= link_to "www.gotryit.org", "https://gotryit.org/", class:"about-text-primary" %></p>
            <p><span class="about-text-black-primary"><strong>25 words:</strong></span> enScholar is a non-profit changing how students find a career path through easy-to-use, video-guided tools that teach self-exploration and critical thinking.</p>
            <p><span class="about-text-black-primary"><strong>45 words:</strong></span> enScholar is a non-profit changing how students find a career path through easy-to-use, video-guided tools that teach self-exploration and critical thinking. The team recently launched Go TryIt.org, an experience-finder that connects youth with local opportunities and experiences related to their interests and career prospects.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row about-bg-gray">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 about-margin-top-40 about-margin-bottom-40">
    <%# Core Values Tabs %>
    <p class="about-text-green-primary text-center about-text-size-sub-heading">Our Core Values</p>
    <ul class="list-inline text-center about-text-small">
      <li><a class="about-text-black-dark" href="#one" aria-controls="one" role="tab" data-toggle="tab">Commitment to our vision</a></li>
      |
      <li><a class="about-text-black-dark" href="#two" aria-controls="two" role="tab" data-toggle="tab">Growth</a></li>
      |
      <li><a class="about-text-black-dark" href="#three" aria-controls="three" role="tab" data-toggle="tab">Vulnerability</a></li>
      |
      <li><a class="about-text-black-dark" href="#four" aria-controls="four" role="tab" data-toggle="tab">Excellence</a></li>
      |
      <li><a class="about-text-black-dark" href="#five" aria-controls="five" role="tab" data-toggle="tab">Communication</a></li>
      |
      <li><a class="about-text-black-dark" href="#six" aria-controls="six" role="tab" data-toggle="tab">Honesty & Transparency</a></li>
      |
      <li><a class="about-text-black-dark" href="#seven" aria-controls="seven" role="tab" data-toggle="tab">Teamwork & Collaboration</a></li>
    </ul>

    <div class="row about-margin-top-20">
      <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 about-no-padding">
        <%= image_tag "quote_left.png", class: "" %>
      </div>
      <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
        <div class="tab-content about-text-black-dark about-margin-top-20">
          <div role="tabpanel" class="tab-pane fade in active" id="one">
            We promote, foster, and live out the mission and values of enScholar, not only in our work, but also in our personal lives. We are passionate about our vision, and put it above our self-interests.
          </div>
          <div role="tabpanel" class="tab-pane fade" id="two">
            We look for every opportunity to learn, evolve, and advance. We continuously seek to improve, and to understand ourselves more deeply, so that we can inspire and equip others to develop into better citizens of the world.
          </div>
          <div role="tabpanel" class="tab-pane fade" id="three">
            We demonstrate the courage to make mistakes and admit when we're wrong. We create an environment of encouragement and respect where we can be open and direct with one another.
          </div>
          <div role="tabpanel" class="tab-pane fade" id="four">
            We take pride in our work. We are driven and we determined. We care intensely about our success, because we know that we have the potential to impact many lives, now and in the future.
          </div>
          <div role="tabpanel" class="tab-pane fade" id="five">
            We listen first, seeking to understand others before being understood. We debate, discuss, and disagree in a manner which is respectful and direct at all times.
          </div>
          <div role="tabpanel" class="tab-pane fade" id="six">
            We make decisions with the same openness that we ask our users to have. We hold ourselves accountable to the highest levels of integrity, and question any decision that does not align with the enScholar values.
          </div>
          <div role="tabpanel" class="tab-pane fade" id="seven">
            We care deeply for our team. We look for every opportunity to develop, support, and encourage one another. We proactively partner with those in the community and around the world who are aligned with our vision and values.
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 about-no-padding">
        <%= image_tag "quote_right.png", class: "about-margin-top-50" %>
      </div>
    </div>
  </div>
</div>


<%# Why %>
<div id="about-why" class="about-why-bg-image">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 about-text-black-light about-margin-top-40 about-margin-bottom-40">
      <p class="text-center about-text-size-heading">Why we're non-profit</p>
      <p>
        Our vision is to see young people lead better lives by making smarter career decisions. This is what gets us up in the morning and
        guides each decision we make. Our non-profit status is directly aligned with our value of transparency. It also allows us to partner
        with schools and other non-profit organizations so that we can reach more students, regardless of their economic status.
      </p>
      <p>
        Each dollar of revenue we generate goes back into improving and developing new features, resources, and content that will directly
        benefit you, the user. We're a lean, efficient organization, that runs like a regular business, except that we involve talented volunteers
        in everything that we do.
      </p>
      <p>
        We're creating huge value for young people, but we can't do it alone. If you’re interested in partnering/volunteering with us, or
        supporting us financially, please check out our volunteers page below, or contact us directly at info@enscholar.com.
      </p>
    </div>
  </div>
</div>

<%# Team %>
<div class="row">
  <%= render partial: "teams/index", locals: {team: @teams} %>
</div>
<%# Volunteer %>
<div class="row about-bg-light">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <p class="text-center about-text-black-primary about-text-size-heading about-margin-top-40 about-margin-bottom-40">Volunteer With Us</p>
    <p class="about-text-black-darker">
      Volunteers are the heart of our organization. They range in age, location, and expertise, but one thing is the same — they share our vision of helping students find their paths and lead more fulfilling lives.
    </p>
    <p class="about-text-black-darker">
      If you're passionate about our cause, hard-working, and interested in joining our growing team, we'd love to hear from you.
      We're based in Vancouver, Canada, but have a team of international volunteers contributing from all over the globe.
    </p>
    <%= link_to "https://enscholar.zendesk.com/hc/en-us/categories/200389337-volunteer-with-us", target: "_blank", class: "about-no-hover" do %>
      <div>
        <p class="about-text-size-sub-heading about-margin-top-20 about-text-black-primary">
          <span class="glyphicon glyphicon-plus about-text-black-dark" aria-hidden="true"></span>
          Core Team Members
            <u class="about-text-primary about-text-small">Learn more</u>
        </p>
      </div>
    <% end %>
    <p class="about-text-black-darker about-margin-top-20">
      Our core team is made up of dedicated volunteers who fill roles in areas including, but not limited to Web & UX Design, Ruby on Rails Development, Community Outreach, Social Media and Human Resources. They contribute upwards of 10 hours per week and take on management roles within their area of expertise.
    </p>
    <%= link_to "https://enscholar.zendesk.com/hc/en-us/categories/200389337-volunteer-with-us", target: "_blank", class: "about-no-hover" do %>
      <div>
        <p class="about-text-size-sub-heading about-margin-top-20 about-text-black-primary">
          <span class="glyphicon glyphicon-plus about-text-black-dark" aria-hidden="true"></span>
            Specialists
            <u class="about-text-primary about-text-small">Learn more</u>
        </p>
      </div>
    <% end %>
    <p class="about-text-black-darker about-margin-top-20">
      Our specialists are volunteers who contribute in one area of expertise, usually remotely, and with less management responsibility than the Core Team members. They are located in different parts of the globe, and typically contribute between 2-6 hours per week in areas such as writing, design, and outreach.
    </p>
    <%= link_to "https://enscholar.zendesk.com/hc/en-us/categories/200389337-volunteer-with-us", target: "_blank", class: "about-no-hover" do %>
      <div>
        <p class="about-text-size-sub-heading about-margin-top-20 about-text-black-primary">
          <span class="glyphicon glyphicon-plus about-text-black-dark" aria-hidden="true"></span>
            Ambassadors
            <u class="about-text-primary about-text-small">Learn more</u>
        </p>
      </div>
    <% end %>
    <p class="about-text-black-darker about-margin-top-20 about-margin-bottom-40">
      Our Ambassador team is a diverse group whose primary role is to build community and create awareness of enScholar in their communities and online. They typically contribute between 1-3 hours on a weekly assignment and help us with a variety of important, but more casual work such as social media, promotion, and community development.
    </p>
  </div>
</div>

<div class="row about-margin-bottom-100">
</div>
